#nav li {
    display: inline-block;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

#header {
    height: 46px;
    background-color: #000;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
}